.App {
	text-align: left;
	max-width: 640px;
	margin: 20px;
	font-family: 'Source Sans Pro', sans-serif;
}

.line {
	width: 100%;
	border-bottom: 1px solid black;
}

* {
	color: rgb(64, 64, 64);
}

.focus {
	color: rgb(0,0,0);
	font-weight: 600;
}

.disclaimer {
	font-size: small;
}
